<style>
    .background-container {
        background-image: url('https://cdn.create.vista.com/api/media/medium/231398800/stock-photo-young-teacher-adorable-schoolkids-smiling-camera-together?token=');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; /* Altura 100% de la pantalla */
    }
</style>
<main class="index background-container">
    <header class="masthead d-flex">
        <div class="container text-center ">
            <h1 class="mb-1">SALAS DE DIARAMA DE SECUENCIA</h1>
            <h3 class="mb-3">
                <em>Tu mejor lugar para crear diagramas en tiempo real</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Click para Comenzar
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>