<div style="margin-top: 0.7cm;">
    <H1>Acceso a Convertir: </H1>
</div>
<div class="col-md-6 mx-auto" style="margin-top: 0.8cm;">
    <div class="card">
        <div class="card-body">
            <form action="/salas/edit/{{sala.id}}" method="POST">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Title" value="{{sala.title}}"
                        autofocus>
                </div>
                <div class="form-group">
                    <input type="xml" name="xml" class="form-control" placeholder="URL" value="{{sala.xml}}">
                </div>
                <div class="form-group">
                    <textarea name="description" rows="20" class="form-control"
                        placeholder="Description">{{javaCode}}</textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>